.header {
  height: 64px;
  border-bottom: 1px solid #ccc;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: var(--green);
  font-weight: 400;
  font-size: 24px;
}
