* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green: #2a9d8f;
  --orange: #e9c46a;
  --red: #e76f51;
  --blue: #0077b6;
  --white: #fff;
  --black: #333;
  --gray: #ced4da;
}

button,
.button {
  cursor: pointer;
  background: var(--blue);
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
}

.button-success {
  background: var(--green);
}

.button-wide {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

input,
select {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 12px;
  border: 2px solid var(--gray);
  font-size: 14px;
  font-family: inherit;
}

.table-responsive {
  overflow-x: auto;
  padding-bottom: 16px;
}

.user-table {
  margin: auto;
}


td,
th {
  padding: 4px 8px;
  min-width: 150px;
  text-align: left;
}

table > thead {
  color: var(--blue);
  box-shadow: 0 1px var(--gray);
}

/* table > tbody > tr:hover {
  background: rgba(0, 0, 0, 0.05);
} */
